@import"./mixins.scss";

@keyframes slideFromLeft {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(-0%); }
}
@keyframes slideFromRight {
    0% { transform: translateX(100%); }
    100% { transform: translateX(0%); }
}

.projectsPageHolder {
    display: flex;
    margin: auto;
    flex-direction: row;
    // align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: calc(1500px + 2rem);

    & .projectCard {
        width: 500px;
        border: 1px solid yellow;
        padding: 10px 20px;
        box-sizing: border-box;
        margin: 1rem;
        transition: 0.5s;

        @include tablet {
            max-width: 300px;
        }

        & img {
            width: 100%;
            max-width: 100%;
        }

        &:hover {
            background-color: yellow;
            
            & p {
                color: black;
            }
        }
    }
}